@import 'styles/imports';

.photoContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.photo {
	max-width: 55%;
}

.btnContainer {
	display: flex;
	justify-content: center;

	@include mediaS {
		justify-content: left;
	}
}

.cvButton {
	position: relative;
	min-width: 20rem;

	@include mediaS {
		left: 8.5%;
		width: 27%;
		margin-top: 4rem;
		margin-left: 0;
		margin-right: 0;
	}
}
