.photoContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.photo {
	max-width: 55%;
}

.cvButton {
	left: 8.5%;
	position: relative;
	width: 29%;
	min-width: 20rem;
	margin-top: 4rem;
}
