@import 'styles/imports';

.section {
	background-color: $light;
	padding-bottom: 5rem;
	position: relative;
}

.collapsedSection {
	overflow: hidden;
	height: 0;
	padding-bottom: 0;
}

.doc {
	@include mediaS {
		width: 83%;
		margin-left: 8.5%;
		margin-right: 8.5%;
	}
}

.btnContainer {
	display: flex;
	justify-content: center;

	@include mediaS {
		justify-content: left;
	}
}

.downloadButton {
	position: relative;
	min-width: 22rem;

	@include mediaS {
		left: 8.5%;
		width: 27%;
		margin-top: 4rem;
		margin-left: 0;
		margin-right: 0;
	}
}
