@import '../../styles/imports';

.section {
	background-color: $light;
	margin-bottom: -6rem;
	overflow: hidden;
}

.collapsedSection {
	height: 0;
	margin-bottom: 0;
}

.doc {
	// padding-bottom: 20rem;
}

.downloadButton {
	left: 8.5%;
	position: relative;
	width: 29%;
	min-width: 22rem;
	margin-bottom: 14rem;
}
