$brandon-grotesque-font: 'brandon-grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$minion-pro-font: 'minion-pro', 'Georgia', Cambria, Times New Roman, Times, serif;

$transition-duration: .2s;

$layout-level-down: 1;
$layout-level-top: 100;
