@font-face {
	font-family: minion-pro;
	src:
		url("https://use.typekit.net/af/dd26e8/0000000000000000000151d6/21/l?subset_id=2&fvd=n4&v=3") format("woff2"),
		url(https://use.typekit.net/af/dd26e8/0000000000000000000151d6/21/d?subset_id=2&fvd=n4&v=3) format("woff"),
		url(https://use.typekit.net/af/dd26e8/0000000000000000000151d6/21/a?subset_id=2&fvd=n4&v=3) format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: brandon-grotesque;
	src:
		url("https://use.typekit.net/af/e8cca1/0000000000000000000132e3/21/l?subset_id=2&fvd=n7&v=3") format("woff2"),
		url(https://use.typekit.net/af/e8cca1/0000000000000000000132e3/21/d?subset_id=2&fvd=n7&v=3) format("woff"),
		url(https://use.typekit.net/af/e8cca1/0000000000000000000132e3/21/a?subset_id=2&fvd=n7&v=3) format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: brandon-grotesque;
	src:
		url("https://use.typekit.net/af/685bd7/0000000000000000000132dd/21/l?subset_id=2&fvd=n3&v=3") format("woff2"),
		url(https://use.typekit.net/af/685bd7/0000000000000000000132dd/21/d?subset_id=2&fvd=n3&v=3) format("woff"),
		url(https://use.typekit.net/af/685bd7/0000000000000000000132dd/21/a?subset_id=2&fvd=n3&v=3) format("opentype");
	font-weight: 300;
	font-style: normal;
}

.tk-minion-pro {
	font-family: "minion-pro", serif;
}

.tk-brandon-grotesque {
	font-family: 'brandon-grotesque', sans-serif;
}
