#home-section.section.section-item.home-section.overflow.hide-overlay.overlay-color.bg-image-3.wow
	.inner-container
		.container
			.row
				.col-sm-10.col-sm-offset-1.col-xs-12
					.home-content-outer.text-center
						.overflow
							.heading-outer.left-right.relative
								.heading-outer.top-bottom.relative
									.overflow.p-t-40.p-l-40.p-r-40(style='padding-bottom: 20px;')
										.section-heading-outer
											h1.heading
												| My name is 
												span.color Aleksey Mironenko
												br
												| I'm Front-End developer from Kiev
									span(style='display:inline-block; padding-bottom: 10px;')
										i *This site is under develop
				//- Next Section Arrow
				.footer-button
					.overflow.m-t-30
						.btn-form-outer.btn-scroll
							//- Button Area
							a.btn(href='#contact-me-section')
								i.icon.icon-arrow-carrot-down
				//- Home Page Buttom Navigation
				nav.navbar.navbar-fixed-top.main-navbar-top.home-nav.overflow
					.container.relative.home-nav-inner
						.navbar-header
							//- TEMPLATE LOGO LIGHT
							a.navbar-brand.light-logo(href='#home-section')
								img.img-responsive(src='images/logo.png', alt='')
						.navbar-collapse-right
							ul.nav.navbar-nav.navbar-right.btn-scroll
								li
									a.btn-nav.btn-mask(href='#contact-me-section')
										| Get in Touch
										i.icon.icon-arrow-right
				//- End: Home Page Buttom Navigation
