@import '../../styles/imports';

.pageSection {
	min-height: 400px;

	&.darkBg {
		background-color: $dark-blue;
		color: $white;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $white;
		}
	}

	&.whiteBg {
		background-color: $white;
	}

	&.lightBg {
		background-color: $light;
	}

	&.turquoiseBg {
		background-color: $turquoise;
		color: $white;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $white;
		}
	}
}
