@import '../../styles/imports';

.pageSection {
	min-height: 40rem;

	&.darkBg {
		background-color: $dark-blue;
		color: $white;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $white;
		}
	}

	&.whiteBg {
		background-color: $white;
	}

	&.lightBg {
		background-color: $light;
	}

	&.turquoiseBg {
		background-color: $turquoise;
		color: $white;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $white;
		}
	}

	&.fullHeight {
		width: 100% !important;
		height: 100% !important;
		position: fixed;
		z-index: $layout-level-top;
	}
}
