@import '../../styles/imports';

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.logo {
	width: 10rem;
}

.title {
	margin-top: 2.5rem;
	font-family: $brandon-grotesque-font;
	font-weight: 300;
}
